<html lang="en"> 
<head>
  <meta charset="UTF-8">
  <title>Flask: HomeWoL</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}">
  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="{{ url_for('static', filename='js/script.js')}}"></script>
</head>
<body onload="init()">
<h1>homeWol</h1>
{% for host, address, mac in machines %}
<div class="horizontal" id="{{ host }}">
  <p>{{ host }}:</p>
  <p class="status" id="{{ address }}">unknown</p>
  <button id="{{ mac }}" onclick="wake(this)">Wake</button>
</div>
{% endfor %}
</body>
</html>
